* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face{

}
header{
    
}
h1{
    
}
h2{
    
}
h3{
    
}
h4{
    
}
#address{
    
}
#phone{
    
}
#email{
    
}
main{
    
}
#about{
    
}
#education{
    
}
section{
    
}
article{
    
}
p{
    
}
ul{
    
}
li{
    
}
#skills{
    
}
.skill{
    
}
footer{
    
}
