* {
  margin: 0;
  padding: 0;
  border: 0;
}

@font-face{
font-family: 'Playfair Display', serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Raleway', sans-serif;
}
header{
    text-align: center;
    background-image: url("../img/marble.jpeg");
    width: 100%;
    height: 100%;
    margin: auto;
   
}
body{
    background-color: #cccccc;
   width: 100%;
   margin: auto;    
}
h1{
  font-family: 'Berkshire Swash', cursive; 
  font-size: 2rem;
   
}
h2{
  font-family: 'Berkshire Swash', cursive;
  text-align: center;
}
h3{
  font-family: 'Playfair Display', serif; 
  font-size: 1rem;    
}
h4{
  font-family: 'Playfair Display', serif; 
  font-size:0.9rem;       
}
#about{
    background-color: #cccccc;
    width: 50%;
    margin:auto;
    
}
#education{
    background-color: #a6a6a6;
}
#Experience{
    background-color: #8c8c8c;
}
section{
   padding: 15px; 
}
p{
 font-family: 'Raleway', sans-serif; 
 font-size: 0.9rem;    
}

li{
  font-family: 'Playfair Display', serif; 
  font-size:0.9rem;   
}
#skills{
   background-color: #666666;
}

footer{
   margin: auto;
   width: 100%; 
   height: 100%;    
}
/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}
